extends ../layout.pug 
block css 
    link(rel='stylesheet' media='only screen and (min-width:1200px)' href='saljs/sal.css' type='text/css')

block js
    script(src="saljs/sal.js")
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js')
    script(src="javascripts/profil.js")

block content
    nav(class="navbar-close")
        ul 
            li.navbar-elem 
                a(href="#skills") COMPÉTENCES
            li.navbar-elem
                a(href="#achievements") RÉALISATIONS
            li.navbar-elem
                a(href="#contact") CONTACT
            li#menu-burger 
                a <i class="fas fa-bars"></i>
    .grid-container
        .picture
            img(src='images/cedric-marurai.jpeg' class="Cédric Maururai Photo" data-sal="slide-right" data-sal-duration="800")

        header
            h1(data-sal="slide-left" data-sal-duration="1000") CÉDRIC MARURAI
            h2(data-sal="slide-left" data-sal-duration="1000") Développeur Fullstack Junior
            span.text-flashy(data-sal="slide-left" data-sal-duration="1000")
                | Recherche 
                strong ALTERNANCE
                |  rentrée Septembre / Octobre 2021 ( Licence informatique )
        aside
            .personal-information
                .block(data-sal="slide-right" data-sal-duration="1000" data-sal-delay="500")
                    h2 CONTACT
                    p <i class="fas fa-envelope"></i> cedric.marurai@gmail.com
                    p <i class="fas fa-phone-alt"></i>06 29 34 93 65

                .block(data-sal="slide-right" data-sal-duration="1000" data-sal-delay="500")
                    h2 SOCIAL
                    a(href="https://www.linkedin.com/in/cedric-marurai" target="_blank" class="social-container")
                        i.fab.fa-linkedin
                        p Cédric Marurai
                    a(href="https://github.com/eolwym" target="_blank" class="social-container")
                        i.fab.fa-github
                        p eolwym
                .block(data-sal="slide-right" data-sal-duration="1000" data-sal-delay="500")
                    h2 CURRICULUM
                    a(class="btn btn-flashy" href="/cv/cedric_marurai_cv.pdf" target="_blank") </i> Télécharger le cv
                


        section(class="welcome")
            .welcome-container(data-sal="slide-left" data-sal-duration="1000" data-sal-delay="500")
                p Bienvenue !
                p.text-flashy  Je suis Développeur Fullstack spécialisé NodeJS et VueJS.
                hr
                p Passionné par la programmation Web et les nouvelles technologies je suis actuellement à la recherche d'une entreprise pour préparer une Licence informatique en alternance à Toulouse au sein du CNAM.
                p Suite à cette Licence j'ai pour ambition de poursuivre vers un diplôme d'ingénieur.
                p J'ai terminé une formation en développement web en Avril 2021 et je suis donc spécialisé dans les technologies du web.
                p Cependant je suis également intéréssé par d'autre domaine de l'informatique tel que l'IOT, la VR, l'IA et la blockchain.

    .tooltip

    .skills-container#skills
        section(class="skills")

            h2 MES COMPETENCES
            .skills-content
                section(class="skills-technologies" data-sal="slide-right" data-sal-duration="1000")
                    h3 Technologies
                    // A améliorer
                    article 
                        h4.text-flashy Technologies préférées
                        img(src=technologies.find(technology => technology.title == "docker").url_img, alt="docker" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "vuejs").url_img, alt="vuejs" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "angular").url_img, alt="angular" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "nodejs").url_img, alt="nodejs" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "mysql").url_img, alt="mysql" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "linux").url_img, alt="linux" class="skill-img")
                    article 
                        h4.text-flashy Les technologies avec lesquelles j'ai apprécié travailler
                        img(src=technologies.find(technology => technology.title == "kotlin").url_img, alt="kotlin" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "springboot").url_img, alt="springboot" class="skill-img")
                    article 
                        h4.text-flashy Les technologies que je souhaite découvrir / approfondir
                        img(src=technologies.find(technology => technology.title == "mongodb").url_img, alt="mongodb" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "typescript").url_img, alt="typescript" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "react").url_img, alt="react" class="skill-img")
                        img(src=technologies.find(technology => technology.title == "graphql").url_img, alt="graphql" class="skill-img")


                section(class="skills-area" data-sal="slide-left" data-sal-duration="1000")
                    h3 Savoir faire
                    article 
                        h4.text-flashy Concevoir et développer une interface utilisateur
                        p Maquetter une application 
                        p Développer le front-end d'une interface utilisateur 
                        p Développer le back-end d'une interface utilisateur 
                    article 
                        h4.text-flashy Concevoir et développer la persistance des données
                        p Concevoir une base de données (MCD, MLD)
                        p Mettre en place une base de données (SQL)
                    article 
                        h4.text-flashy Concevoir et développer une application multicouche
                        p Collaborer à la gestion d’un projet informatique et à l’organisation de l’environnement de développement
                        p Développer des composants métier
                        p Construire une application organisée en couches (MVC)
                        p Préparer et éxécuter le déploiement d'une application


    .achievements-container#achievements
        section(class="achievements")
            h2 MES REALISATIONS
            .achievements-content
                for achievement in achievements
                    .achievement-block(data-sal="flip-up" data-sal-duration="1000")
                        img(src=achievement.url_img, alt=achievement.title)
                        .achievement-content
                            h3= achievement.title 
                            .achievement-technologies 
                                for technology in achievement.technologies
                                    span(class=`chip chip-${technology.title}`)= technology.title
                            p(class="date")= achievement.date
                            .achievement-description= achievement.description
                        if achievement.githubLink
                            a(href=achievement.githubLink target="_blank" class="achievement-github")
                                i(class="fab fa-github")
                                    



    .contact-container#contact
        h2 CONTACTEZ - MOI
        form#contact-form(data-sal="flip-right" data-sal-duration="1000")
            input(type='hidden' name='contact_number')
            label Nom Prénom
            input(type='text' name='user_name')
            label Email
            input(type='email' name='user_email')
            label Message
            textarea(name='message')
            br
            div(class="g-recaptcha" data-sitekey="6Ld4VOsaAAAAAAsMU7yiHv2WVOmHHZMfZI-zgpos")
            br
            input(type='submit' value='Envoyer' class='btn btn-flashy')
            span.contact-form-result

    footer 
        p Copyright © 2021 Cédric Marurai
    script sal()
